# Виртуальное окружение
.venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Базы данных
*.sqlite3
*.db

# Файлы окружения
.env
.env.local
.env.development
.env.production

# Миграции (если не хочешь их коммитить)
bot/migrations/__pycache__/
bot/migrations/*.pyc
